/* NAV */
nav {
  position: fixed;

  display: flex;
  justify-content: space-between;

  background-color: #111113;
  height: 52px;
  width: 100%;
  padding: 0 64px;

  z-index: 3;
}
nav ul {
  margin: 0;
  display: flex;

  gap: 32px;
}
nav ul li {
  display: flex;
  align-items: center;

  height: 100%;

  letter-spacing: 1px;
}
nav ul li a:hover {
  text-decoration: underline;
}
